
{% extends "base.html" %} {% load static %}
{% block title %} 登录 {% endblock title %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-12">
            <br>
            <form method="post" action=".">
                <!-- 别打了，这个入口点加了激进waf策略，而且用的是强密码，不用浪费时间了 -->
                <!-- minlength="32"  -->
                {% csrf_token %}
                <!-- token -->
                <div class="form-group">
                    <label for="password">token</label>
                    <input type="password" minlength="32" class="form-control" id="password" name="password">
                </div>
                <!-- 提交按钮 -->
                <button type="submit" class="btn btn-primary">提交</button>
            </form>
        </div>
    </div>
</div>
{% endblock content %}