<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container">
    <a style="color: white">I don't like comment function, email ksxmyqj##gmail.com if there's any problem </a>
    <!-- 导航栏商标 -->
    <a class="navbar-brand" href="#">KSroido</a>
    <!-- 导航入口 -->
    <div>
      <ul class="navbar-nav">
        <!-- 条目 -->
        <li class="nav-item">
          <a class="nav-link" href="{% url 'article:article_list' %}">article</a>
            {% comment %}#article是定义在urls.py中的app_name{% endcomment %}
        </li>
      </ul>
    </div>

    </div>
    </nav>