
{% extends "base.html" %}


{% block title %}
    关于
{% endblock title %}

{% block content %}

<!-- 文章详情 -->
<div class="container">
    <div class="row">
        <!-- 标题及作者 -->
        <h1 class="col-12 mt-4 mb-4">关于</h1>
        <div class="col-12 alert alert-success">作者：KSroido
        </div>

        <div class="col-12">
            生于02年，男，长期稳定ENTJ型人格，最初的志向是为游戏、影视剧作曲 <strike>(此博客当中播放的一些曲子就是我写的)</strike> (音乐播放器功能已删除)，后来接触了完整的独立游戏产业，然后开始自学编程和美术，妄图有朝一日做出自己的独立游戏

高考以一分之差落榜中国传媒大学游戏设计,加之家庭经济上的一些变故，游戏梦破灭，于是重拾了黑客这一-兴趣，目前是江苏大学信息安全在校生，CTF二进制现役选手

唯一的优点大概是极旺盛的好奇心兴趣爱好极广，如:百科撰写(主要是因为对某些名人事迹怀有敬畏与好奇之心，维基百科为主)、音乐(古典作曲入门，实验音乐爱好者)、语言学(阿尔泰语系，印欧语系，自然语系学，造语等)、化工(有机化学)、毒理，且上述方向都有较深入了解

至于“缺点”，大概有以下几点女装癖，泛性恋，极高浓度二次元，完美主义，极激进政见，无婚主义，非技术内容很容易忘记（脸盲，记不住没深交的人名，事件性记忆力弱）

如果以上几点踩雷了，还请多多包涵

本站当中的所有文章，如未说明，皆为原创，未经允许，禁止转载以及任何形式的二创
        </div>
    </div>
</div>

{% endblock content %}